body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f5f7fa;
  color: #333;
  display: flex;
}

.sidebar {
  width: 250px;
  background: #1e293b;
  color: #fff;
  padding: 20px;
  height: 100vh;
  position: fixed;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: #cbd5e1;
  text-decoration: none;
  font-size: 18px;
}

.sidebar ul li a:hover {
  color: #ffffff;
}

.main-content {
  margin-left: 270px;
  padding: 40px;
  width: calc(100% - 270px);
}

h1,
h2 {
  color: #1e293b;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

button {
  margin-top: 15px;
  padding: 10px 25px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #1e40af;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.ER404 {
  margin: auto;
  background-color: rgb(240, 188, 199);
  width: 50%;
  padding: 2em;
  border-radius: 10px;
}
.ER404 h2 {
  text-align: center;
  line-height: 2em;
}
.ER404 span {
  color: red;
  font-weight: bold;
  font-size: 2em;
}
